@font-face {
  font-family: "iconfont"; /* Project id 3494142 */
  src: url('iconfont.woff2?t=1656656651285') format('woff2'),
       url('iconfont.woff?t=1656656651285') format('woff'),
       url('iconfont.ttf?t=1656656651285') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-roundadd:before {
  content: "\e6d9";
}

